*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
  height: 300vh; 
  background-color: #ececec;
  color: #fff; 
  flex-direction: column;
  transition: all .5s ease;
  background-color: #222;
}

header{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 5;
  background-color: #222;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

nav h2{
  color: #fff;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}
main{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
  z-index: -1;
}

.container::before{
  content: "";
  position: absolute;
  width: 200%;
  height: 150%;
  background: linear-gradient(90deg, orange, pink, violet, blue, skyblue, lightgreen, green );
  animation: move 2s infinite alternate;
}

@keyframes move {
  0%{
    transform: translate(-20%);
  }
  100%{
    transform: translate(20%);
  }
}

.container h1{
  position: relative;
  z-index: 5;
}

.container::after{
  content: "";
  position: absolute;
  background-color: #222;
  inset: 1px;
}

form{
  padding: 25px;
  border: 1px solid;
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
  color: darkturquoise;
}

label{
  font-size: 1.2rem;

}

form input{
  width: 90%;
  padding: 10px;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

form input[type= 'submit']{
  align-self: center;
  width: 30%;
  cursor: pointer;
  background-color: darkturquoise;
  color: white;
}